@import "src/theme/variables.scss";

ion-toolbar {
  height: $default_tabs_size;
  display: flex;
  align-items: center;

  ion-title {
    font-size: $default_font_size;
    font-weight: 800;
    text-transform: uppercase;
    min-width: 100%;
    text-align: center;
    width: auto;
  }
}

.backButton {
  position: absolute;
}

ion-header {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 0 10px 0 rgba(0, 0, 0, 0.12);
}
