ion-card {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  ion-card-header {
    ion-card-title {
      text-align: center;

      div + div {
        margin-top: 1rem;
      }
    }
  }

  ion-card-content {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
