@import "src/theme/variables.scss";

ion-tab-button {
  --color: #ffffff;
  --color-selected: #383636;
}

ion-tab-bar {
  --background: var(--ion-color-kid-primary);
  height: $default_tabs_size;
}

ion-icon {
  font-size: $default_icon_size;
}
