ion-card {
  img {
    border-radius: 1rem;
    aspect-ratio: 1;
    width: 100%;
    height: auto;
  }

  .makeMeTalk {
    display: flex;
    margin: 10px;

    ion-input {
      width: 100%;
      margin-right: 5px;
      --border-color: #666666;
      --color: #666666;
      --highlight-color: #666666;
    }

    ion-button {
      aspect-ratio: 1;
      width: auto;
    }
  }
}
