<app-header [backButton]="true" [title]="currentStory.title"></app-header>

<ion-content [fullscreen]="true">
  <div class="cover" [ngClass]="{storyHasStarted: storyHasStarted}">
    <div class="imageContainer">
      <img [src]="currentStory.image" [alt]="currentStory.title" />
    </div>
    <div>
      <ion-text class="title">{{ currentStory.title }}</ion-text>
      <ion-icon
        slot="end"
        name="volume-medium"
        (click)="textToSpeechService.speak(currentStory.title, 4)"
      ></ion-icon>
    </div>
    <ion-button
      class="startStoryButton"
      color="success"
      fill="outline"
      (click)="startStory()"
      >Start</ion-button
    >
  </div>

  <div class="mainNotShowing" [ngClass]="{main: storyHasStarted}">
    <div class="content" *ngFor="let line of storyLine">
      <app-chat
        *ngIf="line.type === 'speech'"
        [speech]="line.speech"
      ></app-chat>

      <app-question
        class="question"
        *ngIf="line.type === 'question'"
        [question]="line.question"
        (correctOptionClicked)="resolveQuestion($event)"
      ></app-question>
    </div>

    <!-- <app-chat *ngFor="let speech of shownSpeechs" [speech]="speech"></app-chat>

    <app-question
      class="question"
      [ngClass]="{showingQuestion: isDoingQuestion}"
      *ngIf="isDoingQuestion"
      [question]="currentQuestion"
      (correctOptionClicked)="resolveQuestion($event)"
    ></app-question> -->

    <ion-button
      [ngClass]="{continueButton: !storyFinished, notTransition: storyLine.length > 1}"
      class="button"
      fill="outline"
      color="success"
      (click)="continueStory()"
      *ngIf="!storyFinished && !isDoingQuestion"
      >Continuar</ion-button
    >

    <ion-button
      [ngClass]="{continueButton: storyFinished}"
      class="button"
      fill="outline"
      color="success"
      (click)="exit()"
      *ngIf="storyFinished"
      >Finalizar</ion-button
    >
    <div class="filler"></div>
  </div>
</ion-content>
