<app-header [backButton]="true" [title]="currentStory.title"></app-header>

<ion-content [fullscreen]="true">
  <div class="cover" [ngClass]="{storyHasStarted: storyHasStarted}">
    <div class="imageContainer">
      <img [src]="currentStory.image" [alt]="currentStory.title" />
    </div>
    <div>
      <ion-text class="title">{{ currentStory.title }}</ion-text>
      <ion-icon slot="end" name="volume-medium"></ion-icon>
    </div>
    <ion-button
      class="startStoryButton"
      color="success"
      fill="outline"
      (click)="startStory()"
      >Start</ion-button
    >
  </div>

  <div class="mainNotShowing" [ngClass]="{main: storyHasStarted}">
    <app-chat *ngFor="let speech of shownSpeechs" [speech]="speech"></app-chat>
    <ion-button
      fill="outline"
      color="success"
      (click)="continueStory()"
      *ngIf="maxSpeechs !== shownSpeechs.length"
      >Continuar</ion-button
    >
    <div class="filler"></div>

    <ion-button
      fill="outline"
      color="success"
      (click)="exit()"
      *ngIf="maxSpeechs === shownSpeechs.length"
      >Finalizar</ion-button
    >
  </div>
</ion-content>
